*{
  box-sizing: border-box;
}


nav {
    width: 100%;
    overflow: auto;
  }
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    background-color: #333;
} 
nav li {
    float: left;
  }
  
nav a {
    width: 120px;
    display: block;
    color: white;
    text-align: center;
    padding: 20px 10px;
    text-decoration: none;
    font-size: 17px;
  }
  
nav a:hover:not(.active) {
   background-color: #111;
  }
  
.active {
    background-color: #04AA6D;
  }

h1{
    text-shadow: 2px 2px 5px red;
    font-family: 'Times New Roman', serif;
    text-align: center;
    font-size: 70px;
}

h3{
    font-family: Georgia, serif;
    font-size: 30px;
}

img#volley{
    border: 10px solid black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 1em;
  
}
.body{
    margin: 3em;
}
body{
    
    background-color: rgb(204, 198, 198);
    text-align: justify;
}

h2#heading{
    font-family:  Georgia, serif;
    text-align: center;
    font-size: 50px;
    border-style: outset;
    border-width: 6px;
}

.subhead{
  font-family: Georgia, serif;
  font-size: 40px;
  text-shadow: 2px 2px 5px rgb(126, 40, 238);
}

.skills{
  font-family: Georgia, serif;
  font-size: 30px;
}
p{
  
  font-size: 16px;
}
.imgright{
  float: right;
  margin: 0px 3px 15px 25px ;
  border: 1px solid black;
  
}

.fix{
  width: 200px;
  padding: 5px;
  overflow: auto;
  text-align: justify;
}

.imgleft{
  float: left;
  margin: 0px 25px 15px 5px;
  border: 1px solid black;
}

.border{
  border: 1px solid black;
}

.footer{
	width: 100%;
	padding: 1em;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #333;
	color: white;
}
.title{
	color:white;
	text-align: center;
	padding-bottom: 0.5em;
}
input{
	padding: 0.5em;
	margin-top: 0.5em;
}

@media (max-width: 768){
	.item-tile{
		width: 100%;
	}
}
​
@media screen and (min-width: 769px){
	.item-tile{
		width: 30%;
	}
}